.country {
  background-image: url("../../public/hp-container-one-bg.5f4e3204a00f3f9cd318.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.country.dark {
  background-color: #111;
  background-image: none; 
}